@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Gothic+Coding&display=swap');

.body{
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
}
.browse-navbar{
    
    position: fixed;
    top:0;
    width : 100%;
    z-index:100;
    background-color: #fff;
}
.mobile-navbar {
    position: fixed;
    top:0;
    width : 100%;
    z-index:100;
    background-color: #fff;
}

  
ul {
    padding-left: 5px;
}

.hide-button {
    display: flex;
    justify-content: flex-start;
    
}

.hide-icon {
    font-size : 40px;
    background-color: transparent;
    border: none;
    color : #000000;
}

.show-menu{
    width: 280px;
    height: 400px;
    position: absolute;
    left: 0px;
    transition: 1s;
    
    background-color: #FAF9F8;
    border-radius: 10px;
    
    z-index: 2;
}

.hide-menu{
    width: 280px;
    height: 500px;
    position: absolute;
    left: -376px;
    transition: 1s;
    
    list-style-type: none;
}
.togglemenu {
    margin-left: 10px;

}

/*검색 바 */
/* 
.form-control {
    width: 90%;
    padding-left:28px;
    position: absolute;
    left:5px;
    z-index: 3;
}
 */
.show-menu  li {
    list-style-type: none;
    margin-bottom : 10px;
}

/* 로그인 폼 S*/
.login-form-box {
    width:350px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right:10px;
}
.login-form {
    width: 500px;
    margin-left :50px;
}

.mobile-login-form {
    width : 310px;
    
}
.join {
    margin-top: 5px;;
}
/* 로그인 폼 S*/


/* 상단 바  S*/
.nav-button{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    text-align: center; 
    font-size :20px;
    
}
.nav-icon{
    margin-top:3px;
    margin-right: 1px;
    margin-left:8px;
}

.nav-txt{
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
/* 상단 바 E */

/* 모바일 버전 상단 바  S */
.mobile-nav-box {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.mobile-menu-button{
    font-size :30px;
    position: absolute;
    left :10px;
    border:none;
    background-color: transparent;
    color :#000000;
    top:5px;
}

.mobile-search-text {
    border:0;
    margin-top:5px;
    width :250px;
    height: 40px;
    border-radius: 10px;
    border-bottom: 1px solid #bbb;
}

.mobile-search-bar{
    width : 30px;
    height: 40px;
    border : 0;
    border-radius: 10px;
    border-bottom: 1px solid #bbb;
    color : #000000;
    margin-top:5px;
}

.mobile-search-icon {
    top:5px;
    margin-top:10px;

}


.hidden {
    display:none;
}


.mobile-nav-button{
    border:none;
    background-color: transparent;
    font-size:25px;
    color :#000000;
   
}

.mobile-search-hidden {
    display:none;
}

.mobile-nav-icon {
    top:5px;
    margin-top:10px;
    margin-right: 1px;
    margin-left:5px;
}

/* 모바일 버전 상단 바  E */

.main-logo {
    background-color: transparent;
}


.nav-section {
    display: flex;
    justify-content: center;
    background-color: tra;
}

.menu-list { 
    display: flex;
    list-style-type: none;
    font-size: 20px;
}

.menu-list li {
    padding : 10px;
 
}

.menu-area { 
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.search { 
    padding : 5px;
    font-size: 20px;
    margin-top :15px;
    right : 20px;
    position : absolute;
}

.search input { 
    border : none;
    font-size: 18px;
    border-bottom : 1px solid #000000;
    padding-left: 5px;
}

/* 상품 ALL S */
.browse-product-top {
    margin-top: 275px;
}
.mobile-product-top {
   margin-top: 150px;
}
.browse-row {

}
.mobile_card_box { 
    display: flex;
    justify-content: center;
    margin-bottom:30px;
   
}

.browse-col {
    padding-left:15px;
    padding-right:15px;
    padding-bottom:20px;
}
/* 버전에 따른 이미지 크기 S */
.browse-img {
    width : 280px;
}

.browse-img:hover {
    width : 300px;
}
.mobile-img {
    width : 310px;
    
}

.mobile-img:hover { 
    width : 340px;
}

/* 버전에 따른 이미지 크기 E */

.cardinfo {
    font-size: 18px;
}
.mouseOver {
    width:380px;
   
}

.mobile-product-img{
    display: flex;
    justify-content: cener;
    width:330px;

}

.product-img{
    display: flex;
    justify-content: flex-end;
}

.margin {
    margin-bottom : 10px;
}

.detail-title  {
    font-size: 23px;
}

.detail-price {
    font-size: 20px;
}

.detail-size{
    padding-bottom: 15px;
}