.login-button {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    text-align: center; 
    font-size :20px;
   
}

.login-icon{
    margin-top:3px;
}

.login-bar {
    padding-left : 5px;
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.main-bar {
    margin-right: 20px;
}
.nav-section {
    display: flex;
    justify-content: center;
}

.menu-list { 
    display: flex;
    list-style-type: none;
    font-size: 20px;
}

.menu-list li {
    padding : 10px;
 
}

.menu-area { 
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.search { 
    padding : 5px;
    font-size: 20px;
    margin-top :15px;
    right : 20px;
    position : absolute;
}

.search input { 
    border : none;
    font-size: 18px;
    border-bottom : 1px solid #000000;
    padding-left: 5px;
}

.card_box { 
    margin-bottom:30px;
}
.cardimg {
    position: relative;
   width : 270px;

}

.cardimg:hover { 
    width : 300px;
}

.cardcontainer:hover {
    font-size: 20px;
}

.cardinfo {
    font-size: 18px;
}
.mouseOver {
    width:380px;
   
}

.product-img{
    display: flex;
    justify-content: flex-end;
}

.margin {
    margin-bottom : 5px;
}

.detail-title  {
    font-size: 23px;
}

.detail-price {
    font-size: 20px;
}

.detail-size{
    padding-bottom: 15px;
}